/*
768 x 674
*/

@media screen and (max-width: 860px) {
    .App {
        flex-direction: column;
    }

    .App-dark {
        flex-direction: column;
    }

    .container {
        width: 100%;
        height: 90vh;
    }
}
