@media screen and (max-width: 860px) {
    .chat {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2px;
    }
    
    .chat-dark {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2px;
    }

    .mainChat, .chatEmpty {
        width: 100%;
        padding: 2px;
        border: none;
    }
    
    .mainChat-dark, .chatEmpty-dark {
        width: 100%;
        padding: 2px;
        border: none;
    }
    
    .chatDiv-container {
        height: 85vh;
    }
}
