@media screen and (max-width: 956px) {
    .connected {
        position: absolute;
        width: 100vw;
        height: 100vh;
        border-left: 1px solid #c2c2c2;
        background-color: #F0F2F5;
        z-index: 5;
        overflow: hidden;
    }
}


