@media screen and (max-width: 860px) {
    .connected, .connected-dark {
        position: absolute;
        width: 100vw;
        height: 100vh;
        border: none;
        z-index: 5;
        overflow: hidden;
    }

    .connected-top {
        height: 40%;
    }

    .connected-bottom {
        height: 44%;
    }

    .connected-search-input {
        width: 95%;
    }

}


