@media screen and (max-width: 956px) {
    .connexion-left, .connexion-left-dark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .connexion-right {
        display: none;
    }
}


