@media screen and (max-width: 860px) {
    .friends {
        width: 100%;
        padding: 2px;
    }
    
    .friends-dark {
        width: 100%;
        padding: 2px;
    }

    .mainFriends {
        width: 100%;
        padding: 2px;
    }
    
    .mainFriends-dark {
        width: 100%;
        padding: 2px;
    }
}
