@media screen and (max-width: 400px) {
    .header-middle-li {
        font-size: 14px;
    }
    
    .search-top {
        width: 30%;
    }

    .search-input {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        margin: 5px;
    }
    
    .search {
        width: 80%;
        font-size: 12px;
        margin-left: 5px;
        background: none;
        border: none;
        outline: none;
    }
}