@media screen and (max-width: 1145px) {   
    .notification-icon-box {
        width: 40px;
        height: 40px;
    }

    .notification-icon {
        font-size: 25px;
        color: #252525;
    }

    .notification-icon-dark {
        font-size: 25px;
        color: #f1f1f1;
    } 
}
