/*
425 x 674
*/

@media screen and (max-width: 550px) {
    .header, .header-dark {
        height: auto;
        padding: 5px 0;
    }

    .header-middle-icon {
        font-size: 25px;
    }

    .header-middle-icon-box, .header-middle-icon-box-dark {
        width: 40px;
        height: 40px;
    }
    
    .search-input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 2px;
        margin: 5px;
    }
    
    .search {
        width: 80%;
        font-size: 12px;
        margin-left: 5px;
        background: none;
        border: none;
        outline: none;
    }
}


@media screen and (max-width: 470px) {
    .header-middle-ul {
        align-items: flex-start;
    }

    .header-middle-icon {
        font-size: 20px;
    }

    .header-middle-li {
        margin: 2px 10px 2px 10px;
    }

    .header-middle-icon-box, .header-middle-icon-box-dark {
        width: 30px;
        height: 30px;
    }
    
}
