@media screen and (max-width: 470px) {   
    .notification-icon-box {
        width: 30px;
        height: 30px;
    }

    .notification-icon {
        font-size: 18px;
        color: #252525;
    }

    .notification-icon-dark {
        font-size: 20px;
        color: #f1f1f1;
    } 
}
