.account {
    position: relative;
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.mainAccount {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F2F5;
    overflow: scroll;
}

.mainAccount-dark {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(37, 37, 37);
    overflow: scroll;
}

.account-container {
    width: 100%;
}

/*
//////////////////////// 
Account Top
//////////////////////// 
*/

.account-content {
    width: 100%;
}

.account-top {
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 1px solid #c8c8c8;
}

.account-top-dark {
    width: 100%;
    height: auto;
    background-color: #333333;
    border: 1px solid #000
}

.account-bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #000;
}

.account-bg-img {
    width: 100%;
    min-height: 100%;
}

.account-info-top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -35px;
    width: 100%;
}

.account-info-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.account-info-img-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 3px solid #333333;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.img-profile {
    width: 70px;
}

.account-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-icon {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 25px 0;
    width: 20%;
    font-size: 20px;
}

.heart-icon {
    color: #FF7272;
}

.user-friends-icon {
    color: #72CBFF;
}

.pen-icon {
    color: #8AFF72;
}

.account-icon-nbr {
    color: #000;
    font-size: 15px;
}

.account-icon-nbr-dark {
    font-size: 15px;
    color: #f1f1f1;
}

.account-icon-box {
    text-align: center;
}

.account-bio {
    width: 90%;
    font-size: 15px;
    margin-bottom: 15px;
}

.account-empty {
    width: 100%;
    text-align: center;
    margin: 5px;
    opacity: 0.8;
}

/*
//////////////////////// 
Modify account
//////////////////////// 
*/

.account-modify-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #707070;
    opacity: 0.65;
    z-index: 1000;
}

.account-modify-content {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;
    padding: 15px;
    background-color: #F0F2F5;
    border: 1px solid #707070;
    border-radius: 10px;
    z-index: 1001;
}

.account-modify-content-dark {
    position: absolute;
    top: 15%;
    left: 5%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;
    padding: 15px;
    background-color: #252525;
    border: 1px solid #707070;
    border-radius: 10px;
    z-index: 1001;
}

.account-modify-icon-btn {
    border: none;
    outline: none;
    margin-bottom: 15px;
}

.account-modify-icon-btn-dark {
    margin-bottom: 15px;
    background-color: #252525;
    border: none;
    outline: none;
}

.account-modify-close-icon {
    font-size: 20px;
    color: #FF7272;
    cursor: pointer;
}

.account-modify-close-icon:hover {
    transition: 0.3s;
    color: #ff4747;
}

.account-modify-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: auto;
}

.account-modify-center {
    text-align: center;
}

.account-modify-info-box > label {
    margin-right: 10px;
}

.account-modify-img-box {
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
}

.account-modify-img {
    margin-bottom: 10px;
    padding: 0 15px;
    border: 1px solid #707070;
    border-radius: 5px;
}

.account-action {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    opacity: 0.65;
    cursor: pointer;
}

.account-action > p {
    font-size: 15px;
    margin: 10px;
}

.account-action:hover {
    transition: 0.3s;
    opacity: 0.8;
}

.account-modify-inputFile {
    outline: none;
    resize: none;
}

.account-modify-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid #707070;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.account-modify-btn {
    width: 100%;
    font-size: 20px;
    padding: 2px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #707070;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.account-modify-btn-dark {
    width: 100%;
    font-size: 20px;
    padding: 2px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 1px solid #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.account-modify-btn-dark:hover {
    transition: 0.3s;
    background-color: rgb(43, 43, 43);
    color: #fff;
}

.account-modify-btn:hover {
    transition: 0.3s;
    background-color: rgb(43, 43, 43);
}

/*
//////////////////////// 
Loader
//////////////////////// 
*/

.account-bg-loader {
    width: 100%;
    height: 300px;
    background-color: #cfcfcf;
}

.account-info-img-loader {
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #cfcfcf;
    overflow: hidden;
}

.account-info-img-dark-loader {
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 3px solid #333333;
    border-radius: 50%;
    background-color: #cfcfcf;
    overflow: hidden;
}

.account-name-loader {
    background-color: #cfcfcf;
    width: 100px;
    height: 15px;
}

.icon-loader {
    color: #cfcfcf;
}

.icon-text-loader {
    width: 100%;
    height: 10px;
    background-color: #cfcfcf;
}

.text-loader1 {
    width: 80%;
    height: 10px;
    background-color: #cfcfcf;
}

.text-loader2 {
    width: 40%;
    height: 10px;
    background-color: #cfcfcf;
}

/*
//////////////////////// 
Remove Friend
//////////////////////// 
*/

.account-remove-friend-content {
    position: absolute;
    top: 45%;
    left: 5%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;
    padding: 15px;
    background-color: #F0F2F5;
    border: 1px solid #707070;
    border-radius: 10px;
    z-index: 1001;
}

.account-remove-friend-content-dark {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;
    padding: 15px;
    background-color: #252525;
    border: 1px solid #707070;
    border-radius: 10px;
    z-index: 1001;
}