* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.App {
    background-color: #f9f9f9;
}

.txt-dark {
    color: #f1f1f1!important;
}

.input-dark {
    background-color: #252525!important;
    border: 1px solid #f1f1f1!important;
    color: #f1f1f1!important;
}

.border-dark {
    border: 1px solid #f1f1f1!important;
}

.btn-dark {
    background-color: #252525!important;
    border: 1px solid #f1f1f1!important;
    color: #f1f1f1!important;
}

.btn-dark:hover {
    transition: 0.3s;
    background-color: #f1f1f1!important;
    color: #252525!important;
}

/*
//////////////////////// 
Scroll bar
//////////////////////// 
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #a7a7a7;
    border-radius: 10px;
}

/*
//////////////////////// 
Scroll bar
//////////////////////// 
*/

.alert-danger {
    margin: 5px;
    padding: 5px;
    background-color: #ff72726e;
    border: 1px solid #ff7272;
    border-radius: 4px;
}

.alert-success {
    margin: 5px;
    padding: 5px;
    background-color: #72ff726e;
    border: 1px solid #72ff72;
    border-radius: 4px;
}

.alert-none {
    display: none;
}
