.connected {
    width: 20%;
    height: 100vh;
    border-left: 1px solid #c2c2c2;
    background-color: #F0F2F5;
    z-index: 2;
    overflow: hidden;
}

.connected-dark {
    width: 20%;
    height: 100vh;
    border-left: 1px solid #000000;
    background-color: #252525;
    z-index: 2;
    overflow: hidden;
}

.connected-title-box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20%;
}

.connected-title {
    padding: 15px;
    color: #707070;
    font-size: 25px;
}

.connected-title-dark {
    padding: 15px;
    color: #f1f1f1;
    font-size: 25px;
}

/*
//////////////////////// 
Top || Input search style is in header.css
//////////////////////// 
*/

.connected-top {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.connected-search {
    margin-top: 15px!important;
    margin-bottom: 15px!important;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 25px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 10px;
}

.connected-search-input {
    width: 80%;
    margin-left: 5px;
    background: none;
    border: none;
    outline: none;
}

.search-icon {
    opacity: 0.5;
}

.connected-name-dark {
    color: #f1f1f1;
}

/*
//////////////////////// 
Bottom
//////////////////////// 
*/

.connected-bottom {
    height: 60%;
    padding: 0 15px;
}

.friend-lastMsg-txt {
    opacity: 0.5;
}

.connected-lastMsg-dark {
    color: #f1f1f1;
}

.connected-chat {
    height: 56%;
    background-color: #F0F2F5;
    z-index: 5;
}

.connected-chat-dark {
    height: 56%;
    background-color: rgb(37, 37, 37);
    z-index: 5;
}

/*
//////////////////////// 
UserCard
//////////////////////// 
*/

.friends-boxs {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.friend-box {
    width: 100%;
}

.friend-connected {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.friend-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.connected-img-friend {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.connected-img-friend-tall {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.connected-img-friend img, .connected-img-friend-tall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.connected-name-friend {
    font-size: 15px;
    margin-left: 15px;
}

.connected-name-friend-tall {
    font-size: 20px;
    margin-left: 25px;
}

.connected-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #72FF8A;
}

.friend-text {
    width: 100%;
    margin-left: 15px;
    font-size: 12px;
    opacity: 0.5;
}