.publi {
    position: relative;
    width: 75%;
    margin: 15px 0 15px 0;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 6px 6px 14px -6px rgba(156,156,156,1);
    -moz-box-shadow: 6px 6px 14px -6px rgba(156,156,156,1);
    box-shadow: 6px 6px 14px -6px rgba(156,156,156,1);
}

.publication {
    position: relative;
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.publi-dark {
    position: relative;
    width: 75%;
    margin: 15px 0 15px 0;
    border-radius: 10px;
    border: 1px solid #474747;
    background-color: #333333;
    -webkit-box-shadow: 6px 6px 14px -6px rgb(0, 0, 0);
    -moz-box-shadow: 6px 6px 14px -6px rgb(0, 0, 0);
    box-shadow: 6px 6px 14px -6px rgb(0, 0, 0);
}

.publi-none {
    display: none;
}

.publi-delete-box {
    position: absolute;
    width: 100%;
    text-align: end;
    padding: 5px;

}

.publi-delete-btn {
    background-color: #fff;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    outline: none;
    z-index: 2;
}

.publi-delete-btn-dark {
    background-color: #333333;
    color: #fff;
    opacity: 0.5;
    border: none;
    cursor: pointer;
}

.publi-delete-btn:hover {
    transition: 0.3s;
    opacity: 1;
}

.publi-delete-btn-dark:hover {
    transition: 0.3s;
    opacity: 1;
}

.bg-publi {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 70vh;
    background: #000;
    overflow: hidden;
}

.bg-publi-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.publi-metaData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    background-color: rgb(240, 240, 240);
    text-decoration: none;
}

.publi-metaData > p {
    padding: 5px;
}

.video-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    max-width: 800PX;
    max-height: 100%;
    overflow: hidden;
}

.video-content-tall {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.video-tall {
    width: 100vw;
    cursor: pointer;
}

.video-controls {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 0;
    flex-wrap: wrap;
    transform:  translateY(100%) translateY(-5px);
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.2s;
}

.video-content-mobile {
    transform: translateY(-35px)!important;
}

.video-content-mobile-tall {
    transform: translateY(0)!important;
}

.video-content:hover .video-controls {
    transform: translateY(0);
}

.video-content-tall:hover .video-controls {
    transform: translateY(0);
}

.video-btn-content {
    display: flex;
    align-items: center;
    padding: 5px;
}

.video-btn {
    margin: 0 5px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: #fff;
}

.video-btn-play::before {
    content: '\f144';
    font-family: 'Font awesome 5 free';
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 22px;
    color: #fff;
}

.textarea-dark {
    background-color: #252525;
    color: #fff;
    border: none;
}

.video-bar {
    width: 100%;
    height: 10px;
    background-color: #252525;
    cursor: pointer;
}

.video-bar-run {
    height: 10px;
    background-color: #F0F2F5;
}

.video-rectangle {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 18px;
    height: 13px;
    border: 2px solid #fff;
}

.video-rectangle:hover {
    transition: 0.3s;
    opacity: 0.5;
}

/*
//////////////////////// 
info-publi
//////////////////////// 
*/

.info-publi {
    display: flex;
    justify-content: space-between;
}

.publi-top {
    margin: 15px;
}

.left-publi {
    display: flex;
    height: 100%;
}

.left-publi-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 2;
}

.left-publi-img {
    width: 70px;   
    height: 70px;
    object-fit: cover;
}

.left-publi-info {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #707070;
}

.left-publi-info-link {
    color: black;
}

.left-publi-info > p {
    color: #2e2e2e;
}

.left-publi-info > small {
    margin-left: 10px;
    font-size: 10px;
    color: #707070;
}

.right-publi {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.right-publi-hashtag {
    padding: 3px;
    opacity: 0.7;
    cursor: pointer;
}

.right-publi-hashtag:hover {
    transition: 0.3s;
    opacity: 1;
}

.text-publi {
    margin: 15px 0 15px 0;
    font-size: 15px;
    cursor: pointer;
}

.text-pointer {
    cursor: pointer;
}

/*
//////////////////////// 
Icon social
//////////////////////// 
*/

.social-publi {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

.icon-publi-box {
    display: flex;
    align-items: center;
    margin: 0 5px 0 5px;
}

.icon-publi-animation {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    align-items: center;
}

.icon-publi-box > p {
    margin-left: 5px;
    width: auto;
}

.icon-publi {
    cursor: pointer;
}

.heart-publi {
    color: #FF7272;
}

.comment-publi {
    color: #FFDA72;
}

/*
//////////////////////// 
NewPubliBox
//////////////////////// 
*/

.new-publi-opacity, .deleteMsg-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #707070;
    z-index: 1000;
}

.deleteMsg-opacity {
    border-radius: 10px;
}

.new-publi-content {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;
    padding: 15px;
    background-color: #F0F2F5;
    border: 1px solid #707070;
    border-radius: 10px;
    z-index: 1001;
}

.new-publi-content-dark {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;
    padding: 15px;
    background-color: #252525;
    border: 1px solid #707070;
    border-radius: 10px;
    z-index: 1001;
}

.new-publi-loader {
    position: relative;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.top-new-publi {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.icon-new-publi-dark {
    color: #707070;
    font-size: 25px;
}

.icon-new-publi-story {
    color: #707070;
    font-size: 50px;
    cursor: pointer;
}

.icon-new-publi-story-dark {
    color: #f1f1f1;
    font-size: 50px;
    cursor: pointer;
}

.icon-new-publi-story:hover  {
    transition: 0.3s;
    color: #000;
}

.icon-new-publi-story-dark:hover  {
    transition: 0.3s;
    opacity: 0.5;
}

.new-publi-icon-btn {
    margin-bottom: 5px;
    border: none;
    outline: none;
}

.new-publi-icon-btn-dark {
    margin-bottom: 5px;
    background-color: #252525;
    border: none;
    outline: none;
}

.new-publi-icon-btn-img {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    outline: none;
    z-index: 2;
}

.new-publi-close-icon-img {
    font-size: 35px;
    color: #FF7272;
    cursor: pointer;
}

.new-publi-close-icon {
    font-size: 20px;
    color: #FF7272;
    cursor: pointer;
}

.new-publi-close-icon:hover, .new-publi-close-icon-img:hover {
    transition: 0.3s;
    color: #ff4747;
}

.new-publi-form {
    width: 80%;
    height: 80%;
}

.new-publi-box {
    display: flex;
    height: 200px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 10px;
}

.new-publi-box-dark {
    display: flex;
    height: 200px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.new-publi-img-box {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    border: 1px solid #707070;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}

.new-publi-img {
    position: absolute;
    width: 100%;
}

.new-publi-textarea {
    width: 90%;
    height: 100%;
    padding: 5px;
    border: none;
    resize: none;
    outline: none;
    cursor: pointer;
}

.new-publi-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid #707070;
    border-radius: 5px;
    outline: none;
}

.new-publi-btn-noVisible {
    background: none;
    border: none;
    outline: none;
}

.bottom-new-publi {
    margin: 3px;
}

.write-publi {
    margin-bottom: 10px;
}

.icon-write-new-publi {
    margin-right: 10px;
    font-size: 20px;
    color: #707070;
    cursor: pointer;
}

.icon-write-new-publi-dark {
    margin-right: 10px;
    font-size: 20px;
    color: #f1f1f1;
    cursor: pointer;
}

.icon-write-new-publi:hover {
    transition: 0.3s;
    color: #000;
}

.icon-write-new-publi-dark:hover {
    transition: 0.3s;
    opacity: 0.5;
}

.new-publi-hashtag-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid #707070;
    border-radius: 5px;
    outline: none;
}

.new-publi-hashtag-box-dark  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
}

.new-publi-hashtag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-publi-hashtag > button {
    border: none;
    background: transparent;
}

.new-publi-hashtag-delete {
    font-size: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.new-publi-hashtag-delete-dark {
    color: #f1f1f1;
    font-size: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.new-publi-hashtag-delete:hover, .new-publi-hashtag-delete-dark:hover {
    transition: 0.3s;
    opacity: 1;
}

.new-publi-hashtag-txt {
    margin: 0 5px;
}

.new-publi-hashtag-txt-box {
    display: flex;
    align-items: center;
}

.new-publi-hashtag-txt-dark {
    margin: 0 5px;
    color: #fff;
}

.new-publi-hashtag-btn {
    width: 20%;
    background-color: #707070;
    border: 1px solid #707070;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.new-publi-hashtag-btn-dark {
    width: 20%;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.new-publi-hashtag-btn-dark:hover {
    transition: 0.3s;
    background-color: #272727;
    color: #f1f1f1;
}

.new-publi-hashtag-btn:hover {
    transition: 0.3s;
    border: 1px solid #272727;
    background-color: #272727;
}

.new-publi-input-hashtag {
    width: 100%;
    padding: 0 5px 0 5px;
    border: none;
    background: none;
    outline: none;
}

.new-publi-input-hashtag-dark {
    width: 100%;
    padding: 0 5px 0 5px;
    color: #fff;
    border: none;
    background: none;
    outline: none;
}

.input-dark-hashtag {
    width: 100%;
    padding: 0 5px 0 5px;
    color: #fff;
    border: none;
    background: none;
    outline: none;
}

.new-publi-btn {
    width: 100%;
    font-size: 20px;
    padding: 2px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #707070;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.new-publi-btn-dark {
    width: 100%;
    font-size: 20px;
    padding: 2px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #272727;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.new-publi-btn-dark:hover {
    transition: 0.3s;
    background-color: #f1f1f1;
    color: #000;
}

.new-publi-btn:hover {
    transition: 0.3s;
    background-color: rgb(43, 43, 43);
}

/*
//////////////////////// 
Publication Open
//////////////////////// 
*/
.publi-open {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    background-color: #F0F2F5;
    overflow-y: scroll;
    z-index: 1001;
}

.publi-open-dark {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    background-color: #252525;
    overflow-y: scroll;
    z-index: 1001;
}

.publi-icon {
    width: 100%;
    text-align: center;
}

.publi-icon-btn {
    background-color: rgb(236, 236, 236);
    border: none;
}

.publi-icon-close {
    font-size: 25px;
    color: #FF7272;
    cursor: pointer;
}

.publi-icon-close:hover {
    transition: 0.3s;
    color: #ff4747;
}

.publi-open-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-chevron-icon {
    position: absolute;
    top: 15%;
    font-size: 30px;
    cursor: pointer;
}

.gallery-chevron-icon:hover {
    transition: 0.3s;
    opacity: 0.6;
}

.gallery-chevron-icon-right {
    right: 5%;
}

.gallery-chevron-icon-left {
    left: 5%;
}

.publi-open-name {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.publi-open-name > small {
    margin-left: 5px;
    font-size: 9px;
    opacity: 0.7;
}

.publi-open-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 2;
}

.publi-open-img img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
}

.publi-open-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.publi-open-txt {
    width: 90%;
    margin: 0 20px 0 20px;
    font-size: 13px;
}

.publi-open-bottom-dark {
    display: flex;
    padding: 5px;
    border-radius: 9px;
    margin: 20px;
    background-color: rgb(53, 53, 53);
}

.publi-open-bottom {
    display: flex;
    padding: 5px;
    border-radius: 9px;
    margin: 20px;
    background-color: #fff;
}

.publi-open-info-txt-box {
    text-align: start;
    width: 100%;
}

.publi-open-textarea {
    width: 100%;
    height: 100%;
    background-color: #F0F2F5;
    border: none;
    resize: none;
    outline: none;
}

.border-none-dark {
    border: none!important;
}

.publi-open-btn {
    width: 10%;
    border: 1px solid #707070;
    background-color: #F0F2F5;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.publi-open-btn:hover {
    transition: 0.3s;
    background-color: #d1d1d1;
}

/*
//////////////////////// 
Delete publication
//////////////////////// 
*/

.deleteMsg-box {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 90%;
    background-color: #F0F2F5;
    border: 1px solid #707070;
    border-radius: 10px;
    z-index: 1001;
}

.deleteMsg-box-dark {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 90%;
    background-color: #252525;
    border: 1px solid #707070;
    border-radius: 10px;
    z-index: 1001;
}

.deleteMsg-btn {
    border: none;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.deleteMsg-btn:hover {
    transition: 0.3s;
    opacity: 0.5;
}

.delBtn1 {
    background-color: #FF7272;
}

.delBtn2 {
    background-color: #72ff72;
}

/*
//////////////////////// 
Loader
//////////////////////// 
*/

.left-publi-img-box-loader {
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #cfcfcf;
    overflow: hidden;
    z-index: 2;
}

.hashtag-loader {
    width: 50px;
    height: 10px;
    background-color: #cfcfcf;
}

.bg-publi-loader {
    width: 100%;
    height: 30vh;
    background-color: #cfcfcf;
}

.icon-publi-loader {
    margin-right: 20px;
}