/*
//////////////////////// 
Loader
//////////////////////// 
*/

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loaderAnim {
    width: 80px;
    height: 80px;
    position: relative;
}

.loaderAnim > div {
    transform-origin: 40px 40px;
    animation: loaderAnim 1.2s linear infinite;
}

.loaderAnim > div::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #333;
}

.loaderAnim div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.loaderAnim div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.loaderAnim div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.loaderAnim div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.loaderAnim div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.loaderAnim div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.loaderAnim div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.loaderAnim div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.loaderAnim div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.loaderAnim div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.loaderAnim div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.loaderAnim div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes loaderAnim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
//////////////////////// 
Error
//////////////////////// 
*/

.error {
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100vh;
}

.error-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-txt > h1 {
    font-size: 35px;
}

.error-btn {
    margin: 5px;
    padding: 5px;
    border: 1px solid #707070;
    border-radius: 3px;
    background-color: #407afe;
    font-weight: bold;
    cursor: pointer;
}

.error-btn-link {
    color: #000;
    text-decoration: none;
}

.error-btn:hover {
    transition: 0.3s;
    background-color: #f0f2f5;

}

/*
//////////////////////// 
Gif
//////////////////////// 
*/

.gif-carousel {
    position: absolute;
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.gif-carousel > img {
    margin: 5px;
}

/*
//////////////////////// 
Suggest friend card
//////////////////////// 
*/

.suggestFriendCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 275px;
    margin: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 14px -6px rgba(156,156,156,1);
    -moz-box-shadow: 6px 6px 14px -6px rgba(156,156,156,1);
    box-shadow: 6px 6px 14px -6px rgba(156,156,156,1);
    overflow: hidden;
}

.suggestFriendCard-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 275px;
    margin: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 14px -6px rgb(0, 0, 0);
    -moz-box-shadow: 6px 6px 14px -6px rgb(0, 0, 0);
    box-shadow: 6px 6px 14px -6px rgb(0, 0, 0);
    overflow: hidden;
}

.suggestFriendCard-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.suggestFriendCard-top > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.suggestFriendCard-bottom  {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.suggestFriendCard-bottom > p {
    cursor: pointer;
}

.suggestFriendCard-btn {
    padding: 3px;
    color: #333;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.suggestFriendCard-btn-dark {
    padding: 3px;
    color: #a7a7a7;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.suggestFriendCard-btn:hover {
    color: #00;
}

.suggestFriendCard-btn-dark:hover {
    color: #f3f3f3;
}