.mainTchat {
    width: 100%;
    height: 100vh;
    background-color: #F0F2F5;
}

.mainTchat-dark {
    width: 100%;
    height: 100vh;
    background-color: #252525;
}

/*
//////////////////////// 
TchatDiv
//////////////////////// 
*/

.tchatDiv-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tchatDiv-container-mini {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tchatDiv-icon {
    padding: 5px 5px 0 0;
    text-align: end;
}

.close-icon {
    color: #FF7272;
    cursor: pointer;
}

.close-icon:hover {
    transition: 0.3s;
    color: #ff4747;
}

.tchatDiv-info-mini {
    padding: 0 2px 0 2px;
    margin-top: -10px;
    border-bottom: 1px solid #c2c2c2;
}

.tchatDiv-info {
    padding: 10px 2px 10px 2px;
    border-bottom: 1px solid #c2c2c2;
}

.tchatDiv-info-dark {
    border-bottom: 1px solid #000;
}

.tchatDiv {
    height: 80%;
}

.tchatDiv-mini {
    height: 70%;
}

.msg-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
    overflow: scroll;
}

.msg-box {
    display: flex;
    margin: 15px;
}

.msg {
    padding: 5px;
    max-width: 75%;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
}

.msg-right-box {
    justify-content: flex-end;
}

.msg-right {
    background-color: #1f76f8;
    color: #f1f1f1;
}

.msg-txt {
    font-size: 12px;
}

.new-msg-box {
    display: flex;
    align-items: center;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 10px;
}

.new-msg-textarea {
    height: 15px;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
}

.icon-send-msg {
    margin: 5px;
    font-size: 15px;
    color: #707070;
}

.icon-new-msg {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.icon-write-new-msg {
    margin: 0 5px 0 5px;
    font-size: 15px;
    color: #707070;
    cursor: pointer;
}

.icon-write-new-msg:hover {
    transition: 0.3s;
    color: #000;
}