.tchat {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.mainTchat {
    width: 80%;
    height: 100vh;
    background-color: #F0F2F5;
    border-left: 1px solid #c2c2c2;
}

.mainTchat-dark {
    width: 80%;
    height: 100vh;
    background-color: #252525;
    border-left: 1px solid #000000;
}

.tchatEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    background-color: #F0F2F5;
    border-left: 1px solid #c2c2c2;
    z-index: 5;
}

.tchatEmpty-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    background-color: #252525;
    border-left: 1px solid #000000;
}

.tchatEmpty-dark > p {
    color: #f1f1f1;
}

/*
//////////////////////// 
TchatDiv
//////////////////////// 
*/

.tchatDiv-container {
    height: 100vh;
    overflow: hidden;
}

.tchatDiv-close-icon {
    margin: 3px;
    font-size: 15px;
    color: #FF7272;
    cursor: pointer;
}

.tchatDiv-close-icon:hover {
    transition: 0.3s;
    color: #ff4747;
}

.tchatDiv-container-mini {
    overflow: hidden;
    height: 56%;
}

.tchatDiv-top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #c2c2c2;
}

.tchatDiv-top-mini {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #c2c2c2;
}

.tchatDiv-tchat {
    width: 100%;
    height: 82%;
    border-bottom: 1px solid #c2c2c2;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tchatDiv-tchat-mini {
    height: 78%;
    border-bottom: 1px solid #c2c2c2;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tchatDiv-tchat-mini-dark {
    height: 82%;
    overflow-y: scroll;
}

.tchatDiv-border-dark {
    border-bottom: 1px solid #000;
}

.msg-box {
    position: relative;
    display: flex;
    margin: 30px 15px;
}

.msg {
    padding: 5px;
    max-width: 75%;
    height: auto;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    word-break: break-all;
}

.msg > small {
    position: absolute;
    top: -20px;
    color: #000;
    width: 120px;
    font-size: 10px;
    opacity: 0.6;
}

.msg-right-box {
    justify-content: flex-end;
}

.msg-right {
    background-color: #1f76f8;
    color: #f1f1f1;
}

.msg-txt {
    font-size: 12px;
}

.tchatDiv-write {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8%;
}

.tchatDiv-write-dark {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10.5%;
}

.new-msg-box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 10px;
}

.new-msg-box > button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

.new-msg-box > button:hover .icon-send-msg {
    transition: 0.3s;
    color: #000;
}

.new-msg-textarea {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    resize: none;
    border: none;
    outline: none;
}

.icon-send-msg {
    margin: 5px;
    font-size: 15px;
    color: #707070;
}

.icon-new-msg {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.icon-write-new-msg {
    margin: 0 5px 0 5px;
    font-size: 15px;
    color: #707070;
    cursor: pointer;
}

.icon-write-new-msg:hover {
    transition: 0.3s;
    color: #000;
}